@charset "UTF-8";

/* ad_mgrNotice.jsp */
#mainContent { width:1150px; height: 532px; border-top:1px solid #333; border-bottom: 1px solid #333; }
#customerList { text-align: center; }
#btnBox { float: right; margin-top: 15px; }
#allNoteList { margin-right:420px; }

/* ad_mgrNotice_writeFrm.jsp */
#noteFrm{ height: 532px;  }
#writeTable tr td:first-child { background-color: #E9E9E9; width:130px; height: 30px;}
#writeTable{ width:1000px; text-align: center;}
#writeTable td{ border:1px solid #000; }
#btnBox1 { margin:0px; padding:0px; width:1000px;}
#listBtn{ float:left; }
#resetBtn, #writeBtn{ float:right; margin-left:5px; }
/* #writeTable .inputBox { width:285px; } */
#titleInput { width:800px; border-color: #c9c9c9;}

