<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<style type="text/css">
body, th, td, div, ul, ol, lo, dl, dt, dd, form, fieldset, legned,
	textarea, p, input, select {
	margin: 0px, padding:0px
}

fliedset, img {
	border: 0px
}

ul, ol, lo, dl {
	list-style: :none
}

input, select, textarea, button {
	border-radius: :0px;
	vertical-align: middle
}

body, th, td, input, select, textarea, button {
	font-size: 13px;
	line-height: 1.5;
	font-family: :
	'맑은 고딕'
	"돋움"
}

.inputBox {
	border: 1px solid #EDEDED;
	background-color: #FFFFFF;
	height: 23px
}

.btn {
	border: 1px solid #EDEDED;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 5px;
	cursor: pointer;
}

.red {
	color: #FF0000
}

table {
	margin: 0px auto
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
	function idOk() {
		window.open("../id_dup", "id_child", "width = 505 , height = 305, top = " + (window.screenY+160) + ", left = " + (window.screenX+350));
		/*var subWin = window.open("member_join_child.html", "child",
				"width = 300 , height = 250");
		var id = document.pFrm.id.value;
		subWin.window.document.cFrm.id.value = id;*/
	}

	function passConfirm(obj) {
		if (obj.pass1.value == obj.pass2.value) {
			obj.name.focus();
		} else {
			alert("비밀번호가 일치하지 않습니다. 확인해주세요.");
			obj.pass1.value = "";
			obj.pass2.value = "";
			obj.pass1.focus();
		}
	}

	function rmgNext(obj) {
		if (obj.rmg1.value.length == 6) {
			obj.rmg2.focus();
		}
	}
	
	function phone(obj) {
		if (obj.ph1.value.length == 4) {
			obj.ph2.focus();
		}
	}
	function phone2(obj) {
		if (obj.ph2.value.length == 4) {
			obj.adr.focus();
		}
	}
	function emailInput(obj) {
		if (obj.email.value == "직접입력") {
			obj.rearEmail.value = "";
		} else {
			obj.rearEmail.value = obj.email.value;
		}
	}

	function join(obj) {
		if (obj.id.value == "") {
			alert("아이디가 입력안됨");
			idOk();
			return;
		}
		if (obj.pass1.value == "") {
			alert("비밀번호 입력안됨");
			obj.pass1.focus();
			return;
		}
		if (obj.pass2.value == "") {
			alert("비밀번호 입력안됨");
			obj.pass2.focus();
			return;
		}
		if (obj.name.value == "") {
			alert("이름 입력안됨");
			obj.name.focus();
			return;
		}
		
		if (obj.ph1.value == "" || obj.ph1.value == "") {
			alert("전화번호 입력안됨");
			obj.ph1.focus();
			return;
		}
		obj.submit();
	}

	</script>
</head>
<body>
	<div id="get">
		<form name="pFrm" method="post" action="../member_join_process">
			<table>
				<tr>
					<td colspan="2" align="center">회원가입</td>
				</tr>

				<tr>
					<td><span class="red">*</span>아이디</td>
					<td>
					<input type="text" style="width: 180px" name="id" readonly="readonly" class="inputBox"/> 
					<input type="button" value="중복확인" 	class="btn" onclick="idOk()" /></td>
				</tr>

				<tr>
					<td><span class="red">*</span>비밀번호</td>
					<td><input type="password" name="pass1"  class="inputBox"/></td>
				</tr>

				<tr>
					<td width="110"><span class="red">*</span>비밀번호확인</td>
					<td><input type="password" name="pass2" class="inputBox"
						onblur="passConfirm(document.pFrm)" /></td>
				</tr>

				<tr>
					<td><span class="red">*</span>이름</td>
					<td><input type="text" name="name"  class="inputBox"/></td>
				</tr>
				<tr>
					<td><span class="red">*</span>전화번호</td>
					<td>
						<select name="sel" style="width: 50px" class="inputBox">
							<option value="010" selected>010</option>
							<option value="011">011</option>
							<option value="016">016</option>
							<option value="017">017</option>
							<option value="018">018</option>
							<option value="019">019</option>
						</select> - 
						<input type="text" style="width: 40px" name="ph1" onblur="phone(document.pFrm)" class="inputBox" maxlength="4"  /> - 
						<input type="text" style="width: 40px" name="ph2" class="inputBox" maxlength="4" onblur="phone2(document.pFrm)" />
					</td>
				</tr>

				<tr>
					<td><span class="red">*</span>성별</td>
					<td>
						<input type="radio" name="gender" value="남자" />남자 
						<input type="radio" name="gender" value="여자" />여자
					</td>
				</tr>
				<tr>
					<td>&nbsp;&nbsp;이메일</td>
					<td><input type="text" name="Email" style="width: 100px"
						class="inputBox" />@<input type="text" style="width: 120px"
						name="rearEmail" class="inputBox" /> <select name="email"
						onchange="emailInput(document.pFrm)"  class="inputBox">
							<option value="직접입력">직접입력</option>
							<option value="gmail.com">gmail.com</option>
							<option value="naver.com">naver.com</option>
							<option value="daum.net">daum.net</option>
							<option value="nate.com">nate.com</option>
							<option value="hotmail.com">hotmail.com</option>
					</select></td>
				</tr>

				<tr>
					<td colspan="2" align="center">
					<input type="button" value="가입" class="btn" onclick="join(document.pFrm)" /> 
					<input type="reset"  value="취소" class="btn" /><br />
				</td>
				</tr>
				<tr>
					<td colspan="2"><span class="red" style="font-size: 11px">* 은 필수입력입니다</span></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>